$maincolor: #99cc60
$bgcolortask: #F5F5F5
    
@mixin inp()
    width: 500px
    outline: none
    border: none
    background-color: $bgcolortask
    &:focus
        border: 1px solid black
        background-color: white
    &:hover
        border: 1px solid black
        background-color: white

.taskPage   
    background-color: $bgcolortask
    display: flex
    justify-content: left
    .task
        padding: 10px
        width: 100%
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif
        font-size: 14px
        &__text
            input
                @include inp
                font-weight: bold
                font-size: 16px
        &__description
            width: 100%
            background-color: white
            &__text
                input
                    font-size: 16px
        &__info
            display: flex
            justify-content: left
            color: #666
            font-size: 12px
            &__author
                margin-right: 20px
            span
                margin-right: 20px
            &__nameTable
                i
                    color: $maincolor
                    margin-right: 4px
        &__status
            select
                @include inp
                width: 140px
                font-weight: bold
                font-size: 16px
        &__information
            width: 100%
            background-color: white
            &__title
                margin-top: 10px

        
        