$bcg: #F5F5F5
$iconcolor: #526400
.sectionProjects
    display: flex
    justify-content: left
    .container
        font-size: 1.2em
        width: 100%
        background-color: $bcg
        padding: 20px