$bgcolor: #99cc60
$maincolor: #ccff90
$lightcolor: #ffffc2

.search
    padding: 5px
    margin: 20px 0px
    input
        font-size: 1em
        color: #99cc60
        /** border-color: $bgcolor **/
        padding: 5px
        height: 30px
        border: 3px solid $bgcolor
        box-shadow: 1px 1px 2px 0 $bgcolor
        border-radius: 3px
        margin-right: 20px
        background-color: white
    i
        color:#99cc60
        cursor: pointer