$authcolor: #383946
$inpbcgcolor: #ebebeb
$titlecolor: #355a0a
$textcolor: #1b1e29

$fontSizeTitle: 2em
$fontSizeText: 1em

@mixin btn()
    font-size: $fontSizeText
    padding: 5px
    color: white
    background-color: $authcolor
    border: 2px solid white
    border-radius: 5px
    &:hover
        background-color: #648dae
        border: 2px solid white
        cursor: pointer
@mixin inp()
    display: flex
    justify-content: center
    margin-top: 5px
    input
        padding: 4px
        font-size: $fontSizeText

.container
    width: 60vw
    margin: 0 auto
.main
    background-color: #f6f8f9
    &__modal
        height: 100vh
        width: 100vw
        background-color: rgba(0,0,0,0.4)
        position: fixed
        top: 0
        left: 0
        display: flex
        justify-content: center
        align-items: center
        z-index: 10
    &__header
        padding-bottom: 50px
        padding-top: 90px 
        min-height: 280px
        img
            width: 12em
            position: absolute
            top: 5em
            left: 50vw
            z-index: 1
        &__title
            display: inline-block
            font-size: $fontSizeTitle
            font-weight: bold
            color: #90caf9
            i
                color: #90caf9
        &__hr
            margin: 20px 0
            width: 250px
            height: 1px
            background-color: silver
        &__descr
            width: 25vw
            color: #648dae
            font-size: $fontSizeText
        &__btn
            @include btn
            font-size: 20px
            width: 120px
            margin-top: 30px    
    &__auth
        margin-top: 30px
        width: 300px
        bordre: 1px solid $authcolor
        transform: scale(2)
        .lr
            background-color: $authcolor
            display: flex
            justify-content: center
            button
                color: white
                width: 100%
                background-color: $authcolor
                border: none
                &:focus
                    background-color: #656675
        &__title
            font-size: $fontSizeTitle
            background-color: $authcolor
            border-top-left-radius: 10px
            border-top-right-radius: 10px
            text-align: center
            padding: 10px 10px
            color: white
            font-weight: bold
            i
                margin-left: 10px
                &:hover
                    cursor: pointer
                    color: grey
        &__inp
            background-color: $inpbcgcolor
            padding: 15px 0px
            &__log
               @include inp
            &__pas
                @include inp
            &__btn
                display: flex
                justify-content: center
                margin-top: 10px
                &__log
                    @include btn
                    border-right: 1px solid white
                &__reg
                    @include btn
                    border-left: 1px solid white
    &__pminfo
        background-color: white
        padding: 50px 0
        img
            width: 450px
        &__title
            margin-top: 20px
            font-size: $fontSizeTitle
            width: 30vw
            color: $textcolor
            font-weight: bold
        &__text
            width: 30vw
            margin-top: 20px
            text-align: left 
            font-size: $fontSizeText
            color: #666666
            padding-bottom: 50px
        &__wh
            background-color: #f6f8f9
            padding: 50px 0
            display: flex
            flex-wrap: wrap
            img
                width: 15vw
                margin-bottom: 30px
                margin-right: 50px
            &__title
                margin-top: 100px
                font-size: $fontSizeTitle
                width: 30vw
                color: $textcolor
                font-weight: bold
            &__text
                width: 30vw
                margin-top: 20px
                text-align: left 
                font-size: $fontSizeText
                color: #666666  
                
    &__capability
        padding: 10px 0 40px
        background-color: white
        &__title
            color: $textcolor
            font-size: $fontSizeTitle
            font-weight: bold
        &__wrapper
            margin-top: 45px
            display: flex
            justify-content: space-between
            flex-wrap: wrap
            &__item
                margin-top: 20px
                width: 250px
                &__icon
                    font-size: $fontSizeTitle
                &__title
                    margin-top: 8px
                    font-size: $fontSizeText
                    font-weight: bold
                    color: $textcolor
                &__descr
                    color: #000000  
                    margin-top: 10px
                    font-size: $fontSizeText
    &__last
        min-height: 260px
        padding: 40px 0
        background: url('./bi.jpg') center (center/cover) no-repeat
        &__title
            color: white
            font-size: $fontSizeTitle
            font-weight: bold
            text-align: left
        &__descr
            margin-top: 10px
            width: 500px
            color: white 
            font-size: $fontSizeText
            text-align: left
        &__btn
            margin-top: 20px
            @include btn
            font-size: $fontSizeText
            border: 2px solid white
            /** background-color: #90caf9 **/


@media screen and ( max-width:  1000px)
    $title: 4em
    $text: 2.2em
    .container
        width: 90vw
    .main
        img
            transform: scale(0.8)
        .main__header__title
            font-size: $title
        .main__header__descr
            width: 40vw
            font-size: $text
        